@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<div>
    <h3>Our Collection: </h3>
    @foreach (Book book in Model.Books)
    {
        <div class="card border border-success">
            <div class="card-body">
                <h5 class="card-title">
                    @book.Title
                    <span class="badge badge-pill badge-success" style="float:right; font-size:15pt; font-weight:normal;">$@book.Price</span>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">by @book.Author</h6>
                <div class="collapse" id="collapse-@book.BookID">
                    <div class="card card-body">
                        Publisher: @book.Publisher<br />
                        ISBN: @book.ISBN<br />
                        Classification: @book.Classification<br />
                        Category: @book.Category<br />
                        Number of Pages: @book.NumPages<br />
                    </div>
                </div>
                <input id="btn-details#@book.BookID" onclick="toggleDetails(@book.BookID)" value="More Details" class="btn btn-success" type="button" data-toggle="collapse" data-target="#collapse-@book.BookID" />

            </div>
        </div>
        <br />
    }
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-dark" page-class-selected="btn-success" page-url-category="@Model.CurrentCategory" class="btn-group pull-right m-1"
         data-toggle="tooltip" data-placement="top" title="Click to Navigate Pages"></div>
</div>
